@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	font-family: Arial, sans-serif;
	background-color: #ffffff;
}

.bg-dark-blue {
	background-color: #02021e;
}

.bg-indigo {
	background-color: #3719ca;
}

/* container */

.container {
	max-width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 1280px) {
	.container {
		max-width: 806px;
	}
}
