@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	font-family: "Inter", Helvetica, Arial, sans-serif;
	background-color: #ffffff;
}

.bg-dark-blue {
	background-color: #02021e;
}

.bg-indigo {
	background-color: #3719ca;
}

/* page wrappers */

.page-wrap {
	position: relative;

	display: flex;
	flex-direction: column;

	width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 1280px) {
	.page-wrap {
		flex-direction: row;
	}
}

.main-content-wrap {
	width: 100%;
	margin-left: auto;
	padding-bottom: 30px;
}

@media screen and (min-width: 1280px) {
	.main-content-wrap {
		width: 67.65625%;
	}
}

/* container */

.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 24px 0 24px;
}

@media screen and (min-width: 1280px) {
	.container {
		max-width: 806px;
	}
}
