.articles {
	padding-top: 20px;
}

@media screen and (min-width: 1280px) {
	.articles {
		display: flex;
		flex-direction: column;

		max-width: 806px;
		height: 100%;
		margin-right: auto;
		padding-top: 44px;
		padding-left: 30px;
	}

	.articles .container {
		flex-grow: 1;
	}
}
