.subscription {
	width: 100%;

	padding: 60px 16px 24px 16px;

	background-color: #3bb5f2;
}

@media screen and (min-width: 1280px) {
	.subscription {
		position: fixed;
		top: 115px;

		width: 32%;
		height: 100vh;

		padding: 40px 22px 24px 22px;
	}
}

.subscription-container {
	display: flex;
	flex-direction: column;

	max-width: 414px;
}

@media screen and (min-width: 1280px) {
	.subscription-container {
		margin-left: auto;
	}
}

.subscription-content-wrap {
	width: 100%;
	max-width: 375px;
	min-height: 600px;

	margin: 0 auto;

	background-image: url("/src/shared/assets/img/mail.png"),
		url("/src/shared/assets/img/book.png"),
		url("/src/shared/assets/img/note.png");
	background-repeat: no-repeat;
	background-position: 0px 0, -10px 520px, 285px 540px;
}

@media screen and (min-width: 1280px) {
	.subscription-content-wrap {
		max-width: 414px;
		height: 640px;

		margin-left: auto;

		background-position: 0 0, 0 550px, 300px 580px;
	}
}

.subscription-content-img {
	width: 100%;
	max-width: 207px;
	height: 192px;
	margin: 0 auto;

	background-repeat: no-repeat;
	background-position: 0 15px;
	background-size: 100% 100%;
	background-image: url(/src/shared/assets/img/men.svg);
}

@media screen and (min-width: 1280px) {
	.subscription-content-img {
		max-width: 250px;
		height: 226px;

		background-position: 0 15px;

		background-image: url(/src/shared/assets/img/men.svg);
	}
}

.subscription-content {
	max-width: 370px;
	min-height: 257px;

	margin: 0 auto;
	padding: 30px 24px 30px 24px;

	background-color: #ffffff;
	border-radius: 10px;
}

@media screen and (min-width: 1280px) {
	.subscription-content {
		margin-bottom: 145px;
	}
}

@media screen and (max-height: 905px) and (min-width: 1280px) {
	.subscription-content-img {
      display: none;
	}

	.subscription-content {
		margin-bottom: 35px;
	}
}

.subscription-appeal-title,
.subscription-appeal-description {
	text-align: center;
	color: #0f204d;
}

.subscription-appeal-title {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.292;
}

.subscription-appeal-description {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 1.286;
}

.subscription-form {
}

.subscription-form-label {
	display: block;
	margin-bottom: 12px;
}

.subscription-form-input {
	width: 100%;

	padding: 12px;

	font-size: 14px;
	border: 1px solid #dddddd;
	border-radius: 6px;
	outline: none;
}

.subscription-form-btn-submit {
	width: 100%;
	max-width: 322px;
	height: 44px;

	margin: 0 auto;

	font-size: 14px;
	line-height: 1.286;

	color: #ffffff;

	background: #3bb5f2;
	border-radius: 6px;
	cursor: pointer;
}

.subscription-form-btn-submit:hover,
.subscription-form-btn-submit:focus {
	background-color: #2f9acf;
}

.subscription-message {
	display: block;
	margin: 8px auto 0;

	font-size: 14px;
	line-height: 130%;
	text-align: center;

	color: #f23742;
}

/* footer */

.subscription-footer:before {
	content: "";

	display: block;
	width: 238px;
	margin: 0 auto 20px auto;
	height: 1px;
	background: rgba(255, 255, 255, 0.2);
}

.subscription-footer {
	font-size: 12px;
	line-height: 1.333;

	text-align: center;
}

.subscription-footer-mailto {
	display: block;
	margin-bottom: 8px;
	color: #ffffff;
	text-decoration: none;
}

.subscription-footer-mailto:hover,
.subscription-footer-mailto:focus {
	text-decoration: underline;
}

.subscription-footer-copyright {
	color: rgba(255, 255, 255, 0.6);
}
