.footer {
	margin-top: 30px;
	font-size: 12px;
	font-family: Helvetica, sans-serif;
	text-align: center;
}

.footer-list {
	margin-bottom: 16px;
}

.footer-list-item {
	margin: 0 16px;
	color: #0f204d !important;
	text-decoration: none;
}

.footer-list-item:hover,
.footer-list-item:focus {
	text-decoration: underline;
}

.footer-list-item:active {
	color: #3bb5f2 !important;
}

.footer-list-separator {
	display: inline-block;
	width: 3px;
	height: 3px;
	background: #0f204d;
	vertical-align: middle;
	opacity: 0.6;
	border-radius: 50%;
}

.footer-copy {
	color: #838895;
	padding-bottom: 30px;
}
