.pagination {
	margin: 0 16px;

	background-color: #f3f4f8;
	border-radius: 6px;
}

@media screen and (min-width: 1280px) {
	.pagination {
		margin: 0 30px 24px 30px;
	}
}

.pagination > .container {
	display: flex;
	align-items: center;
	min-height: 78px;
}

.pagination-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.286;
	color: #0f204d;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.pagination-button:hover,
.pagination-button:focus {
	color: #3bb5f2;
}

.previous-mailing-btn {
	margin-right: auto;
}

.next-mailing-btn {
	margin-left: auto;
}

.arrow-left-icon {
	margin-right: 10px;
}

.arrow-right-icon {
	margin-left: 10px;
}
