@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply leading-tight;
	background-color: #f3f4f8;
	font-family: "Inter", Helvetica, Arial, sans-serif;
}

.frame {
	max-width: 750px;
	margin: 0 auto;
}
