@import "npm:reseter.css";

@import "/src/shared/Section/Section.css";
@import "/src/shared/Card/Card.css";

.frame {
	width: 100%;
	max-width: 750px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	font-family: "Inter", Helvetica, Arial, sans-serif !important;
	background-color: #f3f4f8;
}

.content {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 5%;
	padding-right: 5%;
	background: #ffffff;
}

@media screen and (min-width: 1280px) {
	.content {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 50px;
		margin-right: 50px;
		padding-top: 39px;
		padding-bottom: 39px;
		padding-left: 50px;
		padding-right: 50px;
	}
}
