@import "npm:reseter.css";

@import "/src/shared/Section/Section.css";
@import "/src/shared/Card/Card.css";

body {
	background-color: #f3f4f8;
	font-family: "Inter", Helvetica, Arial, sans-serif;
}

.frame {
	max-width: 750px;
	margin: 0 auto;
}
