.issue {
	margin: 0 16px 24px 16px;

	background-color: #f3f4f8;
	border-radius: 6px;
}

@media screen and (min-width: 1280px) {
	.issue {
		margin: 0 30px 24px 30px;
	}
}

.issue > .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 78px;
}

.issue-description {
	display: flex;
	align-items: center;
	justify-content: center;
}

.issue-title {
	margin-right: 10px;

	text-align: center;
	text-transform: uppercase;

	font-weight: 700;
	font-size: 18px;
	line-height: 1.167;

	color: #0f204d;
}

@media screen and (min-width: 1280px) {
	.issue-title {
		font-size: 24px;
	}
}

.issue-number {
	padding: 4.5px 8.5px;

	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;

	background-color: #0f204d;
	border-radius: 60px;
}

@media screen and (min-width: 1280px) {
	.issue-number {
		padding: 4.5px 10px;

		font-size: 18px;
	}
}

.issue-date {
	font-size: 14px;
	line-height: 1.286;
	word-break: break-word;

	text-align: right;
	color: #838895;
}

.week-day {
	display: block;
	text-transform: capitalize;
}

@media screen and (min-width: 1280px) {
	.week-day {
		display: inline;
	}
}
