html,
body {
	font-family: "Inter", Helvetica, Arial, sans-serif;
	background-color: #ffffff;
	height: 100%;
}

.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 24px 0 24px;
}

@media screen and (min-width: 1280px) {
	.container {
		max-width: 806px;
	}
}
