@import "../../../../shared/Section/Section.css";
@import "../../../../shared/Card/Card.css";

.articles {
	padding-top: 20px;
}

@media screen and (min-width: 1280px) {
	.articles {
		max-width: 806px;
		margin-right: auto;
		padding-top: 44px;
	}
}
