.app-bar {
	display: flex;
	align-items: center;

	background-color: #3bb5f2;
}

@media screen and (min-width: 1280px) {
	.app-bar {
		position: fixed;
		width: 32%;
		padding: 40px 22px;
	}
}

@media screen and (max-height: 865px), (max-width: 300px) {
	.app-bar {
		padding: 10px 22px 0;
	}
}

.app-bar-content-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (min-width: 1280px) {
	.app-bar-content-wrap {
		justify-content: center;

		max-width: 414px;
		margin: 0 auto;
	}
}
