.app-bar {
	display: flex;
	align-items: center;

	background-color: #3bb5f2;
	padding: 40px 22px;
}

@media screen and (min-width: 1280px) {
	.app-bar {
		position: fixed;
		width: 32.34375%;
	}
}

.app-bar-content-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (min-width: 1280px) {
	.app-bar-content-wrap {
		justify-content: center;

		width: 414px;
		margin-left: auto;
	}
}

.logo-link {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-right: auto;
	padding: 16px;

	color: #ffffff;
}

@media screen and (min-width: 1280px) {
	.logo-link {
		margin: 0 auto;
		padding: 0;
	}
}

.logo-icon {
	margin-right: 10px;
}

.logo-text {
	display: none;

	font-family: "Manrope", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.385;
	letter-spacing: -0.04em;

	color: #ffffff;
}

@media screen and (min-width: 1280px) {
	.logo-text {
		display: block;
	}
}
