.section {
	margin-bottom: 59px;
}

.section-title {
	display: inline-block;
	margin-bottom: 20px;
	vertical-align: middle;

	color: #0f204d;
	font-size: 20px;
	line-height: 1.15;
}

.section-title-ico {
	display: inline-block;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 8px;
}
