.section {
	margin-bottom: 59px;
}

.section-title {
	margin-bottom: 20px;

	color: #0f204d;
	font-size: 20px;
	line-height: 1.15;
}

.section-title-ico {
	vertical-align: middle;
}

.icon-td {
	width: 21px;
	height: auto;

	padding-right: 8px;
}
