.unsubscribe-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 100%;
}

@media screen and (min-width: 1280px) {
	.unsubscribe-page {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		width: 100%;
		min-height: 865px;

		background-image: url("__public__/greeting-1.svg"),
			url("__public__/typing-man-sad.svg");
		background-repeat: no-repeat;
		background-position: 5% 100%, 100% 100%;
	}
}

/* === header === */

.unsubscribe-header {
}

.unsubscribe-header-container {
	max-width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 1280px) {
	.unsubscribe-header-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		max-width: 1052px;
		margin: 0 auto;
	}
}

/* === logo === */

.unsubscribe-logo-link {
	display: flex;
	align-items: center;

	max-width: 85px;
	margin-right: auto;
	padding: 16px;

	color: #ffffff;
	text-decoration: none;
	outline: none;
}

@media screen and (min-width: 1280px) {
	.unsubscribe-logo-link {
		max-width: 30%;
	}
}

.unsubscribe-logo-icon {
	margin-right: 10px;
}

.unsubscribe-logo-icon > .left-edge,
.unsubscribe-logo-icon > .right-edge {
	color: #3bb5f2;
}

.unsubscribe-logo-icon > .center {
	color: #0f204d;
}

.unsubscribe-logo-text {
	display: none;

	font-family: "Manrope", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.44;
	letter-spacing: -0.03em;
	color: #0f204d;
}

@media screen and (min-width: 1280px) {
	.unsubscribe-logo-text {
		display: block;
	}
}
/* === === === */

.unsubscribe-header-mailto {
	display: none;
}

@media screen and (min-width: 1280px) {
	.unsubscribe-header-mailto {
		display: block;

		padding: 16px;

		font-weight: 700;
		font-size: 16px;
		line-height: 130%;
		text-decoration: none;
		color: #3bb5f2;
		cursor: pointer;
	}

	.unsubscribe-header-mailto:hover,
	.unsubscribe-header-mailto:focus {
		text-decoration: underline;
	}
}

/* === main === */

.unsubscribe-main {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-grow: 1;
}

.unsubscribe {
	max-width: 375px;

	margin: 0 auto;
	padding: 110px 10px 0;

	background-image: url("__public__/mail-1.png"), url("__public__/note-1.png"),
		url("__public__/book-1.png");
	background-repeat: no-repeat;
	background-position: 0 10%, 95% 0%, 0% 85%;
}

@media screen and (min-width: 1280px) {
	.unsubscribe {
		width: 100%;
		max-width: 1280px;

		margin: 0 auto;
		padding: 110px 10px 190px;

		background-image: url("__public__/mail-1.png"), url("__public__/book-2.png"),
			url("__public__/note-1.png"), url("__public__/book-1.png");
		background-repeat: no-repeat;
		background-position: 25% 15%, 85% 10%, 70% 90%, 5% 55%;
	}
}

.unsubscribe-container {
	max-width: 300px;
	margin: 0 auto;
}

@media screen and (min-width: 1280px) {
	.unsubscribe-container {
		max-width: 560px;
		margin: 0 auto;
	}
}

.unsubscribe-title {
	margin-top: 0;
	margin-bottom: 34px;

	font-weight: 700;
	font-size: 34px;
	line-height: 130%;
	text-align: center;
	color: #0f204d;
}

@media screen and (min-width: 1280px) {
	.unsubscribe-title {
		margin-bottom: 47px;

		font-size: 65px;
		line-height: 120%;
		text-align: center;
		color: #0f204d;
	}
}

.unsubscribe-notification {
	margin-bottom: 36px;

	font-size: 14px;
	line-height: 140%;
	text-align: center;
	color: #838895;
}

@media screen and (min-width: 1280px) {
	.unsubscribe-notification {
		margin-bottom: 40px;

		font-size: 20px;
		line-height: 150%;
	}
}

.subscribe-again {
	display: block;

	width: 230px;

	padding: 15px;
	margin: 0 auto 130px auto;

	font-size: 14px;
	font-weight: 700;
	line-height: 130%;

	text-decoration: none;
	text-align: center;
	color: #ffffff;
	background: #3bb5f2;
	border-radius: 6px;

	cursor: pointer;
	outline: none;
}

.subscribe-again:hover,
.subscribe-again:focus {
	background-color: #2f9acf;
}

@media screen and (min-width: 1280px) {
	.subscribe-again {
		margin-bottom: 0;
	}
}

/* === hero === */

.unsubscribe-hero {
	width: 56%;
	min-width: 210px;
	height: 23%;
	min-height: 165px;

	margin: 0 auto;

	background-image: url("__public__/typing-man.svg");
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: 210px;
}

@media screen and (min-width: 1280px) {
	.unsubscribe-hero {
		display: none;
	}
}

/* === footer === */

.unsubscribe-footer {
	padding: 24px;

	font-size: 15px;
	line-height: 130%;
	text-align: center;

	background-color: #3bb5f2;
}

@media screen and (min-width: 1280px) {
	.unsubscribe-footer {
		padding-top: 0;

		background: transparent;
	}

	.unsubscribe-footer::before {
		content: "";

		display: block;
		width: 238px;
		height: 1px;
		margin: 0 auto 20px;

		background-color: rgba(15, 32, 77, 0.2);
	}
}

.unsubscribe-footer-mailto {
	display: block;
	margin-bottom: 10px;

	color: #ffffff;
	text-decoration: none;
	outline: none;
}

.unsubscribe-footer-mailto:hover,
.unsubscribe-footer-mailto:focus {
	text-decoration: underline;
}

@media screen and (min-width: 1280px) {
	.unsubscribe-footer-mailto {
		font-size: 12px;
		line-height: 130%;
		color: #0f204d;
	}
}

.unsubscribe-footer-copyright {
	color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1280px) {
	.unsubscribe-footer-copyright {
		font-size: 12px;
		line-height: 130%;
		color: rgba(15, 32, 77, 0.6);
	}
}
